* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px 62.5%
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--primary-light),
    var(--primary-dark)
  );

  background-size: cover;
  background-repeat: no-repeat;
  color: var(--grey-dark-2);
}
